# For accessing maimaiNET Japan version.
MAIMAI_JP_SEGA_ID=""
MAIMAI_JP_SEGA_PASSWORD=""

# For accessing maimaiNET International version.
MAIMAI_INTL_SEGA_ID=""
MAIMAI_INTL_SEGA_PASSWORD=""
USER_AGENT="" # Find your browser's user agent and put it in here.

# Set the sleep duration between fetch requests to avoid rapid-fire fetches.
# (in miliseconds)
TIMEOUT=1500

# maimaiNET URL
JP_SITE="https://maimaidx.jp/maimai-mobile"
INTL_SITE="https://maimaidx-eng.com/maimai-mobile"
INTL_LOGIN_SITE="https://lng-tgk-aime-gw.am-all.net/common_auth/login"