# For accessing maimaiNET Japan version.
MAIMAI_JP_SEGA_ID=""
MAIMAI_JP_SEGA_PASSWORD=""

# For accessing maimaiNET International version.
MAIMAI_INTL_SEGA_ID=""
MAIMAI_INTL_SEGA_PASSWORD=""

# Set the sleep duration between fetch requests to avoid rapid-fire fetches.
# (in miliseconds)
SLEEP_DURATION=1500